NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=game-images
SUPABASE_SECRET_KEY=YOUR_SERVER_SECRET_KEY
ADMIN_PASSWORD=CHANGE_TO_A_LONG_UNIQUE_PASSWORD
ADMIN_SESSION_SECRET=CHANGE_TO_AT_LEAST_32_RANDOM_CHARACTERS
RESEND_API_KEY=re_YOUR_API_KEY
BUSINESS_FROM_EMAIL=ZECOLE STORE <inquiry@YOUR_VERIFIED_DOMAIN>
VERCEL_API_TOKEN=YOUR_SERVER_ONLY_VERCEL_ACCESS_TOKEN
VERCEL_PROJECT_ID=prj_YOUR_PROJECT_ID
VERCEL_TEAM_ID=team_YOUR_TEAM_ID
